# Android generated
bin/
gen/
obj/
build/
.gradle/
gradle/
gradlew
gradlew.bat
local.properties
*.iml
.idea/
captures/
.externalNativeBuild/
.cxx/
output.json

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Temp files
*~
*.swp
*.tmp
